@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-list {
    margin: 0 -5px;
}

.slick-slide>div {
    padding: 0 10px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    /* Adjust this value based on your navbar's height */
}